.text2{width: 100px ; margin: 0px auto;}
form {margin: 0 auto;width: 400px;padding: 5px;border: 1px solid rgb(216, 2, 2);border-radius: 1em;}
#contacte2 {list-style: none;padding: 0;margin: 0;}
.contacte li + li {margin-top: 5px;}
label {display: inline-block;width: 90px;text-align: right;}
input,textarea {font: 14px sans-serif;width: 300px;box-sizing: border-box;border: 1px solid #999;}
input:focus,textarea:focus {border-color: rgb(255, 255, 255);}
textarea {vertical-align: text-top;height: 5px;}
.button {padding-left: 90px; }
table{width: 600px;margin: 0px auto;}
.Pagina1{ border-color: white;border-style: solid;}
.center{ border: 10px; border-color:rgb(177, 164, 147) ;border-style: solid;}
.contacte{border: 10px;border-color: white ;border-style: solid;}
.oferta{border: 10px;border-color: rgb(177, 164, 147) ;border-style: solid;}
.general{border: 10px;border-color: white ;border-style: solid;}
.first{border-color: rgb(255, 255, 255);border-width: 20px;}
.tabla{width: 100%; }
.clase{margin: auto;margin: 0 auto;width: 400px;padding: 5px;border: 1px solid rgb(206, 191, 191);border-radius: 1em;border-bottom: 4px;float: left; }  
.clase1{margin: auto;margin: 0 auto;width: 400px;padding: 5px;border: 1px solid rgb(206, 191, 191); border-radius: 1em;}
.text{margin:0 10px 10px;}
a{padding:5px; text-decoration:none; color:#000000;}
.primera{border-bottom: 20px solid rgb(43, 228, 136) ; background-color: rgb(43, 228, 136); }




.cuerpo{margin: 0; padding: 0; box-sizing: border-box; background:#d4d49f ;}
.container-all{width: 100%; max-width: 1000px; margin: auto; padding: 60px; background: white; margin-top: 100px; border-top: 6px solid rgb(86, 223, 86);}
.title{font-size: 40px; margin-bottom: 60px; }
.container-all img{ width: 300px; float: left; margin-right: 20px; margin-bottom: 20px;}
.cuerpo{background: #d4d49f;}
.sub-title{font-size: 30px; font-weight: 300; margin-top: 20px; margin-bottom: 20px;}
.Red{color: red; margin: 10px;}
.primeraA{margin-bottom: 50px;}

.red{margin-left: 20px; margin-top: 20px;}

.primera1{border-bottom: 20px solid rgb(43, 228, 136) ; background-color: rgb(43, 228, 136); }
.primera{border-bottom: 20px solid rgb(43, 228, 136) ; background-color: rgb(43, 228, 136); }
.red{margin-left: 20px; margin-top: 20px;}
.container-all{width: 100%; max-width: 1000px; margin: auto; padding: 60px; background: white; margin-top: 100px; border-top: 6px solid rgb(86, 223, 86);}
.title{font-size: 40px; margin-bottom: 15px; margin-top: 40px; }
.Forma1{margin: 60px auto; box-sizing: content-box; border-top: 3px solid black; border-radius: 10px; border-left: 2px solid rgb(216, 203, 203); border-right: 2px solid rgb(216, 203, 203); border-bottom: 2px solid rgb(216, 203, 203);}
.separacion{margin-top: 25px; margin-left: 10px;}
.separacion4{margin-left: 10px; margin-top: 40px; border-bottom: 3px solid rgb(226, 218, 218); margin-bottom: 20px; margin-right: 20px;}
.Red{color: red; margin: 10px;}



.pagina{width: 100%; max-width: 1000px; margin: auto; padding: 60px; background: white; margin-top: 100px; border-top: 6px solid rgb(86, 223, 86); }
   .primeraA{margin: 10px ; width: 100%; border:200px;}
   .primeraAA{margin: 100px; width: 100%; border:200px;}
   .primera1{margin: 50px; width: 100%; border:30px; background-color: }
    div#segunda{margin: 50px; width: 100%; border:30px;}
    .color{color: red; margin: 10px;} 
    .separacion{margin: 20px;}
   .Separacion1{margin: 10px;}
    .Separacion2{ margin: 5px;}
   
    ul{margin-top: 10px;}
   .pagina{ border-top-style: solid; border-color:#d4d49f;}
    form{ border-color: black; margin: auto; width: 500px; margin-top: 20px; border: 1px solid; border-radius: 5px; }
    .separacion1{margin-left: 20px; }
    .separacion2{margin-left: 20px;}
    .margen{margin-bottom: 20px;}
    
    
    .red{margin-left: 20px; margin-top: 20px;}
  

    .principio{margin: auto; border: 0;}
   
    .margen0{margin: 0px; border: 0; background-color:rgb(43, 228, 136) ;}
    .red1{margin-bottom: 20px; border-color: #000000;}